nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #333;
	color: #fff;
	position: absolute;
	top: 0;
	padding: 15px 0;
	width: 100%;
	height: auto;
	z-index: 99;
	
}

nav .logo img {
	width: 4.4rem;
	
}

.logo a {
	font-size: 2rem;
	font-weight: bold;
	color: #fff;
	text-decoration: none;
}

.nav-links {
	display: flex;
	list-style: none;
	margin: 0;
	padding: 0;
}

.nav-links li {
	display: inline-block;
	margin-right: 20px;
	position: relative;
}

.nav-links li a {
	color: #fff;
	text-decoration: none;
	transition: color 0.3s ease-in-out;
}

.nav-links li a:hover {
	color: #ff0;
}
.nav-links li {
	display: inline-block;
	margin-right: 20px;
	position: relative;
}

.nav-links li::before {
	content: "";
	position: absolute;
	width: 100%;
	height: 2px;
	bottom: 0;
	left: center;
	top: 1.5rem;
	background-color: #c96e06;
	visibility: hidden;
	transform: scaleX(0);
	transition: all 0.3s ease-in-out;
}

.nav-links li:hover::before {
	visibility: visible;
	transform: scaleX(1);
}

.nav-links li a.active {
	color: #ffffff;
  font-weight: 550;

}

.profile {
	width: 38px;
	height: 38px;
	background-color: #ffffff;
	border-radius: 50%;
	margin-right: 50px;
}

.profile img {
	width: 24px;
	height: 24px;
	object-fit: cover;
	margin-left: 7px;
	margin-top: 5px;
}

.profile i {
	position: absolute;
	margin-left: 16px;
	font-size: 25px;
	margin-top: 5px;
}
